# MSDEV98 output directories
FariaLib/Debug/
FariaLib/DebugUnicode/
FariaLib/ProfileUnicode/
FariaLib/Release/
FariaLib/ReleaseUnicode/
FariaRomEditor/Debug/
FariaRomEditor/DebugUnicode/
FariaRomEditor/ProfileUnicode/
FariaRomEditor/Release/
FariaRomEditor/ReleaseUnicode/
Hacks/Debug/
Hacks/Release/

# Deliverables
*.exe

# MSDEV98 compiler artefacts
*.obj
*.plg
*.lib
*.ilk
*.pch
*.idb
*.pdb
